* {
	font-family: 'Lato', sans-serif;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
	color: darkgrey;
	font-weight: 300;
}

.container {
}

.header {
	border-bottom: solid 2px grey;
	margin-left: 0px;
	margin-right: 0px;
}

.content {
	margin-top: 20px;
}

.title {
	font-weight: 200;
}

.subtitle {
	font-weight: 300;
}

.col-md-4>p>a {
	font-weight: 100;
	color: inherit;
}

.col-md-4>p>a:hover {
	text-decoration: none;
	font-weight: 300;
}

.col-md-4 .description {
	padding: 0px 20px;	
}

.col-md-4>img {
	border: solid 1px whitesmoke;
	margin-left: auto;
	margin-right: auto;
}

img.logo {
	width: auto;
	height: 55px;
	margin: 20px;
}

@media only screen and (max-width: 460px) {
	img.logo {
		display: none;
	}
}